#country-name {
    height: auto;
    width: auto;
    margin: 20px 0 5px 0;
    padding: 0;
    text-align: center;
}

#country-code {
    margin-top: 0;
    padding-top: 0;
}

#main-details-container {
    position: relative;
    width: 447px;
    min-width: 447px;
    height: auto;
    left: 50%;
    transform: translate(-50%, 2%);
}

#flag-container {
    position: relative;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

img#flag,
img#map {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;
}

img#map {
    width: auto;
    height: auto;
}

#details-container {
    display: block;
    position: relative;
    width: auto;
    max-width: 442px;
    height: auto;
    padding: 0;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 0;
}

#country-code,
#population,
#area,
#capital,
#capital-population,
#neighbors {
    position: relative;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    word-wrap: normal;
    text-align: initial;
}

#map-container {
    position: relative;
    display: block;
    width: 447px;
    height: auto;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

/*
#browse-countries {

}

#browse-countries {
    position: relative;
    height: 40px;
    width: 100px;
    padding: 0px;
    left: 50%;
    margin-top: 5px;
    transform: translate(-50%, 50%);
    border: 1px solid #0074D9;
    color: #FFFFFF;
    background-color: #0074D9;
    font-size: inherit;
}

#browse-countries:hover {
    cursor: pointer;
}

#browse-countries:active {

}*/