.home-container {
    position: fixed;
    display: block;
    height: 540px;
    width: 50%;
    min-width: 512px;
    margin-top: 180px;
    left: 50%;
    transform: translate(-50%, -35%);
    padding: 0px;
}

.globe-container {
    position: relative;
    display: inline-block;
    height: 30%;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
}

h3 {
    margin: 10px 0 0 0;
    font-size: 22px;
    text-align: center;
    color: #444444;
}

#globe-main {
    position: relative;
    height: 100px;
    width: 100px;
    padding: 0px;
    left: 50%;
    transform: translate(-50%, 20%);
}

#globe-main:hover {
    cursor: pointer;
}

#globe-main:active {
    height: 90px;
    width: 90px;
}