* {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
    font-family: 'Source Sans Pro', sans-serif;
    z-index: initial;
}

body {
    height: 700px;
    overflow-x: hidden;
}

.scroll {
    overflow-y: scroll;
}

.no-scroll {
    overflow-y: hidden;
}

.header {
    position: relative;
    height: 60px;
    min-width: 400px;
    width: 50%;
    text-align: center;
    margin: 30px auto 10px 25%;
}

.header-text {
    position: relative;
    margin: 0;
    padding-bottom: 0;
    font-size: 32px;
    color: #444444;
}

hr {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 85%;
    color: #444444;
}