<div class="header">
	<h1>Countries & Capitals</h1>
</div>
<table class="countries-table">
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <colgroup></colgroup>
    <thead>
        <tr>
            <th>Name</th>
            <th>Country Code</th>
            <th>Capital</th>
            <th>Area in km2</th>
            <th>Population</th>
            <th>Continent Code</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="country in countries | orderBy:'countryName'" ng-click="countryDetail(country)">
            <td>{{country["countryName"]}}</td>
            <td>{{country["countryCode"]}}</td>
            <td>{{country["capital"]}}</td>
            <td>{{country["areaInSqKm"] | number}}</td>
            <td>{{country["population"] | number}}</td>
            <td>{{country["continent"]}}</td>
        </tr>
    </tbody>
</table>
<a href="#/"><button id="back-button">Home</button></a>
